<h1 class='title'>Gratitude</h1>

<div class="resultsTitle">
  <h1> See what other people are grateful for below:</h1>
</div>

  <div class="container">
    <div class="row">
      <div class="buttonContainer">
        <div class="col">
          <form id="filter" action="/filter" method="GET">
            <input id="myInput" type="text" name="term" placeholder="Filter by location" autocomplete="off"
              {{#if locationFilter}}
                value="{{locationFilter}}"
              {{/if}}>
            <div class="locationSubmit">
              <button type='submit' id='submitButton' class='button'>Submit</button>
            </div>
          </form>

          <form id="keywordFilter" action="/keyword" method="GET">
            <input id="myInput" type="text" name="term" placeholder="Filter by keyword" autocomplete="off"
            {{#if keywordFilter}}
              value="{{keywordFilter}}"
            {{/if}}>

            <div class="keywordSubmit">
              <button type='submit' id='submitButton' class='button'>Submit</button>
            </div>
          </form>

          <form id="filter" action="/readall" method="GET">
            <div class="readAllButton">
              <button type='submit' id='submitButton' class='button'>See All Posts</button>
            </div>
          </form>
        </div>
      </div>


      <div class="col">
        <div id="messages">
          {{#unless gratitudeMessages}}
            <p>Sorry, no messages. :(</p>
          {{else}}
            {{#each gratitudeMessages}}
              <div class='gratefulnessPost'>
                <div class="message-body">
                  {{body}}
                </div>
                <div class="message-timestamp">
                  <div class="signOff">
                    Posted by {{first_name}} from {{location}} on {{formatTimestamp createdAt}}
                  </div>
                </div>
              </div>
            {{/each}}
          {{/unless}}
        </div>
      </div>

    </div>
  </div>
  <br>
