<h1 class='title'> In this page you can see what other people are grateful for.</h1>

<div class="nav">

  <a  href="/">Submit yours</a>
  <a href="/submit">Read more</a>
</div>


<div class="resultsTitle">
  <h1> See what other people are grateful for below:</h1>
</div>

  <div class='locationForm'>
    <form>
    <label>What location would you like to see answers from?<br></label>
    <br>
    <input type="radio" id="Greece" name="satisfaction" value="Greece">
    <label for="Greece">Greece</label>

    <input type="radio" id="Davidson, North Carolina" name="satisfaction" value="Davidson, North Carolina">
    <label for="Davidson, North Carolina">Davidson, North Carolina</label>

    <input type="radio" id="Miami, Florida" name="satisfaction" value="Miami, Florida">
    <label for="Miami, Florida">Miami, Florida</label>

    <input type="radio" id="Utrehct, Netherlands" name="satisfaction" value="Utrehct, Netherlands">
    <label for="Utrehct, Netherlands">Utrehct, Netherlands</label>
    <br>

    <div class="locationSubmit">
      <button type='submit' id='submitButton' class='button'>Save and submit your answers</button>
    </div>
     <br>
    </form>
  </div>

  <div id="messages">

    {{#unless gratitudeMessages}}
      <p>Sorry, no messages. :(</p>
    {{else}}

          {{#each gratitudeMessages}}
            <div class='gratefulnessPost'>
              <div class="message-body">
                {{body}}
              </div>
              <div class="message-timestamp">
                <div class="signOff">
                  Posted by {{first_name}} from {{location}} on {{formatTimestamp createdAt}}
                </div>
              </div>
             </div>
          {{/each}}
    {{/unless}}
  </div>
</div>

  {{!-- <div class='gratefulnessPost'>
    <p> "<strong>One </strong> thing about my family I am grateful for is my brother, because he spends time to teach me playing the piano. "</p>

    <p class='signOff'>Said George from Utrecht, Netherlands.</p>
  </div>

  <div class='gratefulnessPost'>
    <p> "<strong>One </strong> thing about earth y I am grateful for is the sun, because it makes me feel alive. "</p>

    <p class='signOff'>Said Nicole from Davidson, North Carolina.</p>
  </div>

  <div class='gratefulnessPost'>
    <p> "<strong>One </strong> thing about my family I am grateful for is my sister, because she always goes out of her way to check that I am doing ok. "</p>

    <p class='signOff'>Said Christos from Greece.</p>
  </div>

  <div class='gratefulnessPost'>
    <p> "<strong>One </strong> thing about my job/school I am grateful for is my advisor, because she always reaches out before deadlines to make sure I am on track. "</p>

    <p class='signOff'>Said Alexia from Miami,Florida.</p>
  </div> --}}
