<div class="resultsTitle">
  <h1> See what other people are grateful for below:</h1>
</div>

<form id="filter" action="/filter" method="GET">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <input id="myInput" type="text" name="term" placeholder="Filter by location" autocomplete="off"
          {{#if locationFilter}}
            value="{{locationFilter}}"
          {{/if}}>

        <div class="locationSubmit">
          <button type='submit' id='submitButton' class='button'>Submit</button>
        </div>
      </div>

      <div class="col-sm-10">
        <div id="messages">
          {{#unless gratitudeMessages}}
            <p>Sorry, no messages. :(</p>
          {{else}}
            {{#each gratitudeMessages}}
              <div class='gratefulnessPost'>
                <div class="message-body">
                  {{body}}
                </div>
                <div class="message-timestamp">
                  <div class="signOff">
                    Posted by {{first_name}} from {{location}} on {{formatTimestamp createdAt}}
                  </div>
                </div>
              </div>
            {{/each}}
          {{/unless}}
        </div>
      </div>

    </div>
  </div>
  <br>
</form>
